.pasto{
	background-color: green;
	width: 100%;
	height: 150px;
	position: absolute;
	top: 550px;
}
.sol{
	background-color: yellow;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	left: 30px;
	top: 30px;
}
.humo{
	background-color: #545F4C;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.humo.uno{
 position: relative;
 left: 40px;
 bottom: 60px;
}
.humo.dos{
	position: relative;
 left: 100px;
 bottom: 150px;
}
.humo.tres{
	position: relative;
 left: 150px;
 bottom: 250px;
}
.chimenea{
	background-color: #B25F7A;
	width: 40px;
	height: 70px;
	position: relative;
	left: 280px;
	top: 40px;
}
.techo{
    width: 350px;
    height: 0px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 150px solid black;
    position: relative;
	left: 500px;
	top: 200px;
}
.pared-frontal{
	background-color: #604A1B;
	width:470px;
	height: 280px;
	position: relative;
	left: 500px;
	top: 200px;
}
.puerta{
	background-color: #44424B;
	width:140px;
	height: 222px;
	position: relative;
	left: 50px;
	top: 58px;
}
.ventana{
	background-color: #D42E9C;
	width: 120px;
	height: 120px;
	position: relative;
	left: 270px;
	bottom: 120px;
}
/*corazon*/
.corazon{
	position: relative;
	width: 50px;
	height: 50px;
	left: 40px;
	top: 40px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #C32E48;
}
.corazon:before,
.corazon:after{
	position: absolute;
	width: 50px;
	height: 50px;
	content: '';
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background-color: #C32E48;
}
.corazon:before{
	bottom: 0px;
	left: -25px;
}
.corazon:after{
	top: -25px;
	right: 0px;
}
/*Aqui es el codigo para mover la casa*/
.casa{
	position: absolute;
	left: 10px;
}